.login-col {
    @media (min-width: 576px) {
        flex: 0 0 22rem;
    }

    form {
        border: 1px solid $border-color;
        padding: 1em;
    }
}

.login-social {
    border: 1px solid $border-color;
    margin-bottom: 1em;
}
