.my-account-table {
    td {
        vertical-align: middle;

        &:first-child {
            width: 10em;
            text-align: right;
        }
    }
}

.my-account-api-key {
    span {
        background: $gray-800;
        border: 1px solid $border-color;
        margin-left: .5rem;
        padding: .4rem;
    }

    form {
        float: right;
    }
}
