{% extends "base.html" %}

{% block title %}Auctions - Extra Pets{% endblock %}

{% block extra_js %}<script type="text/javascript">WoWthing.auctions_extra_pets.onload();</script>{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 style="margin-top: 0;">Extra Pets</h2>
            <p>This page shows the current minimum buyout price for any extra pets you have (more than 1).</p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-condensed table-hover table-striped auctions-table" id="auctions-table">
              <tbody>
                <tr>
                  <td>Loading, please wait...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}
