{% extends "base.html" %}

{% block title %}Auctions - Missing Pets/Mounts/Toys{% endblock %}

{% block extra_js %}<script type="text/javascript">WoWthing.auctions.onload();</script>{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 style="margin-top: 0;">Missing Mounts/Pets/Toys</h2>

            <p>This page will show you current auctions for mounts, pets, and toys that you haven't learned. The
               normal tabs show auctions on realms where you have characters (you can hide realms in Settings)
               while the "all realms" tabs show auctions on all realms in your region.</p>

            <ul class="nav nav-tabs" id="tab-links" role="tablist">
              <li><a href="#mounts-tab">Mounts</a></li>
              <li><a href="#mounts-all-tab">Mounts (all realms)</a></li>
              <li><a href="#pets-tab">Pets</a></li>
              <li><a href="#pets-all-tab">Pets (all realms)</a></li>
              <li><a href="#toys-tab">Toys</a></li>
              <li><a href="#toys-all-tab">Toys (all realms)</a></li>
              <li><a href="#settings-tab">&#9881; Settings</a></li>
            </ul>

            <div class="tab-content" id="tab-container">
              <div class="tab-pane" id="mounts-tab"></div>
              <div class="tab-pane" id="mounts-all-tab"></div>
              <div class="tab-pane" id="pets-tab"></div>
              <div class="tab-pane" id="pets-all-tab"></div>
              <div class="tab-pane" id="toys-tab"></div>
              <div class="tab-pane" id="toys-all-tab"></div>

              <div class="tab-pane" id="settings-tab">
                <h3>Ignore realms</h3>
                <ul class="list-unstyled">
                  {% for realm in realms %}
                  <label><input type="checkbox" class="settings-ignore" data-id="{{ realm.id }}"> {{ realm.name }}</label>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
