{% extends "base.html" %}

{% block title %}Pet Auctions{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 style="margin-top: 0;">Pet Auctions</h2>

            <form action="" class="form-inline">
              <div class="form-group">
                <label for="input-region">Region</label>
                <select id="input-region" name="region" class="form-control">
                  <option value="us"{% if region == 'us' %} selected{% endif %}>US</option>
                  <option value="eu"{% if region == 'eu' %} selected{% endif %}>EU</option>
                </select>
              </div>
              <div class="form-group">
                <label for="input-pet-name">Pet name</label>
                <input id="input-pet-name" name="pet_name" type="text" class="form-control" placeholder="Pet name...">
              </div>
            </form>

            {% if auctions %}
              <h3 class="auction-pet-name">
                <a href="//www.wowhead.com/npc={{ pet.id }}"><img src="/static/img/36/{{ pet.icon }}.jpg"> {{ pet.name }}</a> auctions on {{ region|upper }} realms
              </h3>
              <table class="table table-condensed table-hover table-striped auctions-table">
                <tbody>
                  {% for auction in auctions %}
                    <tr>
                      <td class="auction-name"><a href="{% url 'auctions:character' auction.owner_realm.region auction.owner_realm.name auction.owner.name %}">{{ auction.owner.name }}</a></td>
                      <td class="auction-realm">{{ auction.owner_realm.name }}</td>
                      <td class="auction-level quality{{ auction.pet_quality_id }}">{{ auction.pet_level }}</td>
                      <td class="auction-price">{{ auction.nice_buyout }}</td>
                      <td class="auction-remaining">{{ auction.nice_time_left }}</td>
                      <td></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}
