.transmog-selects {
    display: inline-block;
    
    select {
        display: inline-block;

        &:nth-child(2) {
            width: 100px;
        }
        &:nth-child(3) {
            width: 150px;
        }
    }
}

.transmog-items {
    padding: 15px 0 0 15px;

    .transmog-item {
        .pull-left;
        width: 40px;
        height: 40px;
        margin: 0 2px 2px 0;
        position: relative;
                
        img {
            box-sizing: content-box;
            border-style: solid;
            border-width: 2px;
        }
    }
    
    .transmog-missing {
        opacity: 0.3;
    }
}
