.lockout-table {
    margin: -5px 0;

    > tbody > tr {
        > td {
            padding: 2px 0;
        }
        > td:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 12em;
            min-width: 12em;
        }
    }
    tr:first-child td,
    tr:last-child td {
        border-top-width: 0;
    }
    tr:nth-last-child(1) td {
        border-bottom-width: 0;
    }
    .lockout-available,
    .lockout-defeated {
        padding-left: 10px;
        text-align: right;
    }
    .lockout-available {
        color: #00CC00;
    }
    .lockout-defeated {
        color: #DD0000;
    }
    .lockout-expires {
        td {
            padding-top: 10px;
            color: #ddd;
        }

        &:first-child {
            td {
                padding-top: 2px;
            }
        }
    }
}
