.ellipsis-mixin {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shadow-mixin {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
