.raidgroup-form {
    margin: 5px 0 15px 0;

    .form-control {
        margin-left: 5px;
    }
    .form-group + .form-group {
        margin-left: 1em;
    }
}
.raidgroup-radios {
    span {
        display: inline-block;
        width: 5.2em;
        font-weight: bold;
    }
}
.raidgroup-highlight {
    margin: 0 0 15px 0;
}
.raidgroup-table {
    margin: 0 auto 20px;
    table-layout: fixed;

    tbody tr td {
        padding: 1px 0;
    }
    .gear-item {
        width: 42px;
    }
    .raidgroup-admin {
        width: 2.5em;
        text-align: center;
        vertical-align: middle !important;
    }
    .raidgroup-icons {
        width: 24px;

        div {
            box-sizing: content-box;
            border-width: 1px;
            border-style: solid;
            border-radius: 2px;
            border-color: #555;

            & + div {
                margin-top: 1px;
            }
        }
    }
    .raidgroup-roles {
        width: 24px;
        vertical-align: middle;

        .dropdown {
            //display: inline-block;
        
            div {
                box-sizing: content-box;
                border-width: 1px;
                border-style: solid;
                border-radius: 2px;

                &.js-edit {
                    cursor: pointer;
                }

                &.overview-l-0 {
                    border-color: #cf0000 !important;
                }
            }

            &:first-child div {
                border-color: #57d200;
            }
            &:last-child div {
                border-color: #388601;
            }

            & + .dropdown {
                margin-top: 1px;
            }
        }
    }
    .raidgroup-name {
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: middle !important;
        white-space: nowrap;
        width: 14em;
    }
    .raidgroup-ail {
        width: 3.5em;
        padding-right: 10px;
        text-align: right;
        vertical-align: middle !important;

        div {
            cursor: default;
        }
        img {
            float: left;
            box-sizing: content-box;
            border: 1px solid #555;
        }
    }
    .raidgroup-status {
        width: 6em;
        padding-right: 10px;
        vertical-align: middle !important;
        white-space: nowrap;

        .tier {
            font-size: 80%;
            padding-left: 1px;
        }
    }
    .raidgroup-max {
        width: 1.8em;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 175%;
        text-align: right;
        vertical-align: middle;
        cursor: default;
    }
    .raidgroup-mythic {
        padding: 1px 0 0 0;
        width: 45px;

        div {
            position: relative;

            span {
                position: absolute;
                bottom: 0px;
                padding: 0 1px;
                background: rgba(0, 0, 0, 0.85);
                font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
                font-size: 110%;
                line-height: 1;
                pointer-events: none;

                &.text-danger {
                    left: 0px
                }
                &.highlight {
                    right: 5px;
                }
            }
        }

        &.faded-missing {
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
    }
    .raidgroup-spacer {
        width: 100%;
    }
    .raidgroup-admin {
        padding-right: 10px;
    }
}

.average-item-level-warning {
    color: #ff8800;
}
.average-item-level-normal {
    color: #dfdf00;
}
.average-item-level-heroic {
    color: #00df00;
}
.average-item-level-mythic {
    color: #00dfdf;
}
