.search-form {
    input[type="text"],
    select {
        width: 150px;
    }
}

.search-table {
    margin-top: 10px;

    tbody > tr {
        td {
            padding: 3px 4px;
        }
        // > td:last-child {
        //     border-width: 0;
        // }
    }
}

.search-character {
    width: 8em;
}
.search-realm {
    width: 12em;
}
.search-location {
    width: 8em;
}
.search-count {
    width: 4em;
    text-align: right;
}
.search-item {
    // width: 30em;

    img {
        margin-top: -2px;
        margin-right: 5px;
        box-sizing: content-box;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
    }
}
