.home-table {
    margin-bottom: 0;
    table-layout: fixed;
    width: auto;
    background: $list-group-bg;
    border: 1px solid $table-border-color;

    tbody > tr > td {
        padding: 3px 5px;
    }

    .realm-row {
        td {
            vertical-align: middle;
            font-weight: bold;
        }
    }

    div:not(.no-border),
    img:not(.no-border) {
        box-sizing: content-box;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
    }

    td > img {
        float: left;
        margin-top: 1px;
        margin-right: 4px;
    }

    .home-icon {
        width: 24px;
        padding-right: 0 !important;

        img {
            margin-top: -2px;
        }
    }

    .character-name-0,
    .character-name-1,
    .character-name-2 {
        white-space: nowrap;
    }

    .character-name-0 {
        width: 8em;
        min-width: 8em;
    }
    .character-name-1 {
        width: calc(25px + 9em);
        min-width: calc(25px + 9em);
    }
    .character-name-2 {
        width: calc(50px + 8em);
        min-width: calc(50px + 9em);
    }

    .character-tag {
        float: right;
        margin: 2px -2px 0 0;
        padding: 1px;
        height: 18px;
        width: 18px;
        background: #444;
        border-radius: 50%;
        font-size: 90%;
        font-variant: small-caps;
        line-height: 18px;
        text-align: center;
        text-decoration: none!important;
    }
}

.faction-alliance {
    img {
        border-color: lighten($alliance-color, 10%);
    }
}

.faction-horde {
    img {
        border-color: lighten($horde-color, 30%);
    }
}
