.gear-table {
    td {
        vertical-align: middle;
    }

    .gear-ail {
        width: 3.7em;
        padding-right: 8px;
        text-align: right;
    }

    .gear-item {
        padding: 1px 2px;

        .missing-enchant,
        .missing-gem {
            box-sizing: content-box;
            position: absolute;
            top: 1px;
            width: 16px;
            height: 16px;
            border: 1px solid #ff0000 !important;
            pointer-events: none;
            animation: pulseOpacity 1.5s linear 0s infinite alternate;
        }
        .missing-enchant {
            left: 1px;
            background: url('https://media.openwow.io/icons/16/trade_engraving.png');
        }
        .missing-gem {
            right: 1px;
            background: url('https://media.openwow.io/icons/16/inv_misc_gem_02.png');
        }
    }

    .gear-first-bag {
        padding-left: 1rem;
    }
}

@keyframes pulseOpacity {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
