.home-row {
    flex-wrap: nowrap;
}

.col-sidebar {
    flex: 0 0 9em;
}

.home-sidebar {
    position: sticky;
    top: $main-offset-top;

    .list-group + .list-group {
        margin-top: .75rem;
    }
}

.home-main {
    min-width: 0;
    padding-right: 0;
}

.home-content {
    //background: $gray-900;
    //border: 1px solid $border-color;

    > .row {
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
    }
}

.sub-sidebar-container {
    position: sticky;
    top: $main-offset-top;

    a,
    li {
        white-space: nowrap;
    }
}

.home-sidebar,
.sub-sidebar-container {
    .list-group-item .badge {
        float: right;
        margin-right: -.4rem;
        //margin-top: .05rem;
        padding-top: 0.4em;
        color: $gray-300;
        background-color: #0e434c;
        border: 1px solid lighten(#0e434c, 5%);
        font-size: 80%;
    }
}
