.progress-table {
  .progress-section {
    text-align: center;
  }

  .progress-text-1,
  .progress-text-2 {
    text-align: right;
    vertical-align: middle;
    padding-right: 6px;
    cursor: default;
    white-space: nowrap;

    img {
      float: left;
      margin-top: 1px;
    }
  }

  .progress-text-1 {
    width: 56px;
  }

  .progress-text-2 {
    width: 71px;
  }
}
