.reputations-table {
  .reputations-icon {
    width: 51px;
    text-align: center;
    white-space: nowrap;

    div {
      position: relative;
      border-width: 0;

      span {
        position: absolute;
        bottom: -2px;
        right: -1px;
        line-height: 1;
        cursor: default;
        pointer-events: none;
        background: #111;
        border: 1px solid;
        border-radius: 50%;
        padding: 1px;
      }

      span:before {
        margin: 0;
      }
    }
  }

  .reputations-rep {
    text-align: center;
  }
}

.reputation-popover {
  margin-bottom: 0;

  li > span {
    color: #ffff88;
  }
}
