#home-settings-form {
    > .row {
        margin-right: 0;
    }
}

.settings-content {
    column-count: 2;
    column-gap: 1rem;
    margin-top: 1rem;

    @media (min-width: 1450px) {
        column-count: 3;
    }

    .card {
        break-inside: avoid;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    .card-body {
        padding: 0.5rem 0.75rem;
    }

    fieldset {
        > label {
            color: $headings-color;
        }

        & + fieldset {
            border-top: 1px solid $border-color;
            padding-top: 0.5rem;
        }
    }

    .list-group-item {
        background: darken($list-group-bg, 5%);

        img {
            margin: -3px .4rem 0 -0.2rem;
            border: 1px solid $border-color;
            box-sizing: content-box;
        }

        .icon-trash {
            float: right;
        }
    }
}

#home-settings-hide {
    column-count: 2;

    .list-group {
        break-inside: avoid;

        + .list-group {
            margin-top: 1rem;
        }
    }

    .list-group-item {
        @include ellipsis;

        input {
            margin: 0 0.4rem 0 -0.2rem;
            vertical-align: middle;
        }

        span {
            float: right;
        }
    }

    .settings-realm {
        background: $blue;
        color: $gray-100;
        font-size: 105%;
    }
}
