<div class="gold-history">
    <div class="col-12">
        <div id="magic-chart"></div>
    </div>

    <div class="col-12">
        Interval:
        <select id="chart-interval" class="form-control-sm">
            <option value="h">Hour</option>
            <option value="d">Day</option>
            <option value="m">Month</option>
        </select>
        Period:
        <select id="chart-period" class="form-control-sm">
            <option value="all">All</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="3months">3 Months</option>
            <option value="6months">6 Months</option>
        </select>
</div>
