<div class="sets-container">
    <div class="btn-group btn-group-toggle toggle-buttons" data-toggle="buttons">
        <label class="btn btn-success active">
            <input id="sets-collected" type="checkbox" class="js-sets-input" checked><span class="icon-fake"></span> Collected
        </label>
        <label class="btn btn-success active">
            <input id="sets-not-collected" type="checkbox" class="js-sets-input" checked><span class="icon-fake"></span> Not collected
        </label>
    </div>

    <div class="btn-group btn-group-toggle toggle-buttons" data-toggle="buttons">
        <label class="btn btn-success active">
            <input id="sets-alliance" type="checkbox" class="js-sets-input" checked><span class="icon-fake"></span> Alliance
        </label>
        <label class="btn btn-success active">
            <input id="sets-horde" type="checkbox" class="js-sets-input" checked><span class="icon-fake"></span> Horde
        </label>
        <label class="btn btn-success active">
            <input id="sets-unavailable" type="checkbox" class="js-sets-input" checked><span class="icon-fake"></span> Unavailable
        </label>
        <label class="btn btn-success active">
            <input id="sets-chaching" type="checkbox" class="js-set-input" checked><span class="icon-fake"></span> $$$$$
        </label>
    </div>

    <span id="sets-shown"></span>

    <div id="sets-inner" class="row"></div>
</div>
