{{#each currencies}}
    <li class="list-group-item" data-currency="{{ id }}">
        {{ currencyIcon id }}{{ name }}
        <span class="icon-trash js-currency-delete" data-tippy-content="Remove from list"></span>
    </li>
{{/each}}
