<div class="row">
    <div id="sub-sidebar">
        <div class="sub-sidebar-container">
            <div class="list-group">
                {{#each categories}}
                    <a class="list-group-item js-progress-category" href="#progress:{{ [1] }}" data-category="{{ [1] }}">{{ [0] }}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="progress-content" class="col"></div>
</div>
