<table class="table table-condensed home-table overview-table">
  <colgroup span="{{ realm_colspan }}"></colgroup>
  {{#if total_colspan}}
    <colgroup span="{{ total_colspan }}"></colgroup>
  {{/if}}
  <colgroup span="2"></colgroup>
  <colgroup span="2"></colgroup>
  {{#if currencies_lockouts_colspan}}
    <colgroup span="{{ currencies_lockouts_colspan }}"></colgroup>
  {{/if}}
  {{#if profile.overview_show_world_quests}}
    <colgroup span="3"></colgroup>
  {{/if}}
  <colgroup span="2"></colgroup>

  <tbody>
    <tr>
      <td class="character-name"></td>
      {{#if profile.overview_show_realm}}
      <td class="home-realm"></td>
      {{/if}}
      <td class="character-level"></td>
      {{#if profile.overview_show_rested}}
        <td class="character-rested"></td>
      {{/if}}
      {{#if profile.overview_show_ail}}
        <td class="character-ail"></td>
      {{/if}}
      {{#if profile.overview_show_played}}
        <td class="character-played"></td>
      {{/if}}
      {{#if profile.overview_show_gold}}
        <td class="character-gold"></td>
      {{/if}}

      <td class="character-profession"></td>
      <td class="character-profession"></td>
      <td class="character-azerite"></td>
      <td class="character-essences"></td>

      {{ characterCurrencies }}
      {{ characterLockouts }}

      {{#if profile.overview_show_world_quests}}
        <td class="character-wq"></td>
        <td class="character-wq"></td>
        <td class="character-wq"></td>
      {{/if}}

      <td class="character-keystone"></td>
      <td class="character-keystone-max"></td>
    </tr>

    {{#if profile.overview_show_totals}}
      <tr class="totals-row">
        <td colspan="{{ ../realm_colspan }}">Totals</td>
        {{#if ../profile.overview_show_played}}
          <td class="character-played">{{ duration ../total_played }}</td>
        {{/if}}
        {{#if ../profile.overview_show_gold}}
          <td class="character-gold">{{ commas ../total_gold }}g</td>
        {{/if}}

        <td colspan="2"></td>
        <td colspan="2"></td>

        {{ totalCurrencies }}
        {{ characterLockouts }}

        {{#if ../profile.overview_show_world_quests}}
          <td colspan="3"></td>
        {{/if}}

        <td colspan="2"></td>
      </tr>
    {{/if}}

    {{#each realms}}
      <tr class="realm-row">
        <td colspan="{{ ../realm_colspan }}" rel="tooltip" title="{{ name }}">{{ name }}</td>
        
        {{#if ../profile.overview_show_played}}
          <td class="character-played">{{ duration total_played }}</td>
        {{/if}}
        
        {{#if ../profile.overview_show_gold}}
          <td class="character-gold">{{ commas total_gold }}g</td>
        {{/if}}
        
        <td colspan="{{ ../skip_colspan }}"></td>
        
        {{ realmCurrencies }}
        {{ realmLockouts }}
        
        {{#if ../profile.overview_show_world_quests}}
          {{ realmWorldQuests }}
        {{/if}}
        
        <td colspan="2" rel="tooltip" title="Mythic Keystone">{{ keystoneImage }}</td>
      </tr>

      {{#each characters}}
        {{#unless hidden}}
        <tr class="faction-{{ side }}">
          {{ characterName }}
          
          {{#if ../../../profile.overview_show_realm}}
            <td class="home-realm">{{ realm }}</td>
          {{/if}}
          
          <td class="character-level">{{ characterLevel }}</td>
          
          {{#if ../../../profile.overview_show_rested}}
            <td class="character-rested">{{ characterRested }}</td>
          {{/if}}
          
          {{#if ../../../profile.overview_show_ail}}
            <td class="character-ail">{{ averageItemLevel average_ilvl }}</td>
          {{/if}}
          
          {{#if ../../../profile.overview_show_played}}
            <td class="character-played">{{ duration played }}</td>
          {{/if}}
          
          {{#if ../../../profile.overview_show_gold}}
            <td class="character-gold">{{ commas gold }}g</td>
          {{/if}}
          
          {{ characterProfession profession1 }}
          {{ characterProfession profession2 }}

          {{ characterAzerite }}
          {{ characterEssences }}
          
          {{ characterCurrencies }}
          {{ characterLockouts }}
          
          {{#if ../../../profile.overview_show_world_quests}}
            {{ characterWorldQuests }}
          {{/if}}
          
          <td class="character-keystone">{{ characterKeystone }}</td>
          <td class="character-keystone-max">{{ characterKeystoneMax }}</td>
        </tr>
        {{/unless}}
      {{/each}}
    {{else}}
      <tr>
        <td>You don't appear to have any characters to show!</td>
      </tr>
    {{/each}}
  </tbody>
</table>
