<div class="row">
    <div id="sub-sidebar">
        <div class="sub-sidebar-container">
            <div id="achievements-categories" class="list-group achievements-categories">
                <a class="list-group-item js-achievement-category" href="#achievements:summary" data-category="summary">
                    <div>Summary<span id="achievement-summary-completion" class="badge"></span></div>
                </a>
                {{#each categories}}
                    <a class="list-group-item js-achievement-category" href="#achievements:{{ id }}" data-category="{{ id }}">
                        <div>{{ name }}<span class="glyphicon glyphicon-chevron-right"{{#unless categories}} style="color: transparent"{{/unless}}></span><span class="badge">{{ _percent }}</span></div>
                    </a>
                    {{#each categories}}
                        <a class="list-group-item achievements-subcat js-achievement-category" href="#achievements:{{ id }}" data-category="{{ id }}" data-parent="{{ ../id }}" style="display: none">
                            <div>{{ name }}<span class="badge">{{ _percent }}</span></div>
                        </a>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col achievements-content">
        <div class="achievements-buttons">
            <div class="btn-group btn-group-toggle toggle-buttons" data-toggle="buttons">
                <label class="btn btn-success active">
                    <input id="achievement-earned" type="checkbox" class="js-achievement-input" checked><span class="icon-fake"></span> Earned
                </label>
                <label class="btn btn-success active">
                    <input id="achievement-not-earned" type="checkbox" class="js-achievement-input" checked><span class="icon-fake"></span> Not earned
                </label>
            </div>
            <div class="btn-group btn-group-toggle toggle-buttons" data-toggle="buttons">
                <label class="btn btn-success active">
                    <input id="achievement-alliance" type="checkbox" class="hidden js-achievement-input" checked><span class="icon-fake"></span> Alliance
                </label>
                <label class="btn btn-success active">
                    <input id="achievement-horde" type="checkbox" class="hidden js-achievement-input" checked><span class="icon-fake"></span> Horde
                </label>
            </div>
        </div>

        <div id="achievements-container"></div>
    </div>
</div>
