.quality0 { color: $quality-0 !important; }
.quality1 { color: $quality-1 !important; }
.quality2 { color: $quality-2 !important; }
.quality3 { color: $quality-3 !important; }
.quality4 { color: $quality-4 !important; }
.quality5 { color: $quality-5 !important; }
.quality6 { color: $quality-6 !important; }
.quality7 { color: $quality-7 !important; }

.border-quality0 { border-color: $quality-0 !important; }
.border-quality1 { border-color: $quality-1 !important; }
.border-quality2 { border-color: $quality-2 !important; }
.border-quality3 { border-color: $quality-3 !important; }
.border-quality4 { border-color: $quality-4 !important; }
.border-quality5 { border-color: $quality-5 !important; }
.border-quality6 { border-color: $quality-6 !important; }
.border-quality7 { border-color: $quality-7 !important; }

.highlight { color: $highlight-color !important; }
.warning { color: $warning-color !important; }
.exciting { color: #ffb870 !important; }
.yellowish { color: #ffff88; }

.faction0 { border-color: $alliance-color; }
.faction1 { border-color: $horde-color; }
.faction2 { border-color: $quality-7; }
