body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    background: $dark;

    ul + form,
    ul + ul {
        margin-left: auto;
    }
}

#nav-list {
    > li + li {
        border-left: 1px solid $border-color;
    }
}

main.content {
    margin-top: $main-offset-top;
    flex: 1;
}

footer {
    display: flex;
    margin-top: 1rem;
    padding: 0.75rem 15px;
    background: $footer-bg;
    border-top: 1px solid $gray-800;

    > div {
        flex: 1 1 100%;

        &:last-child {
            text-align: right;
        }

        span + span {
            margin-left: .25rem;
            padding-left: .5rem;
            border-left: 1px solid $border-color;
        }
    }
}
