.fancy-title {
  background: $component-active-bg;
  color: $component-active-color;
  // Tippy reset, oof
  margin: -.3125rem -.5625rem 0;
  padding: .3125rem .5625rem;
  border-bottom: 1px solid $tooltip-border-color;
  font-size: 110%;
}

.fancy-content {
  padding-top: .3125rem;
  text-align: left;

  > ul {
    margin-bottom: 0;
  }
}
