.toggle-buttons {
  .btn {
    padding-left: 0.375rem;
  }
  .btn.active {
    span:before {
      content: '\e804';
    }
  }
  .btn:not(.active) {
    span:before {
      content: '\e805';
    }
  }
}
