{% extends "base.html" %}

{% block title %}Version History{% endblock %}

{% block content %}
      <div class="container">
{% for title, date, entries in versions %}
        <div class="row">
          <div class="col-xs-12 panel panel-default history-box">
            <h3>{{ title }} <span class="small">{{ date }}</span></h3>
            <ul>
  {% for entry, subentries in entries %}
              <li>{{ entry }}{% if not subentries %}</li>{% else %}<ul>
    {% for subentry in subentries %}
                <li>{{ subentry }}</li>
    {% endfor %}
              </ul></li>{% endif %}
  {% endfor %}
            </ul>
          </div>
        </div>
{% endfor %}
      </div>
{% endblock %}
