{% extends "base.html" %}
{% load i18n %}

{% block title %}About{% endblock %}

{% block content %}
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-body about-panel">
            <div class="page-header">
              <h3>What is it?</h3>
            </div>
            <p>WoWthing is a website designed to help with the task of managing your <a href="http://us.battle.net/wow/en/">World of Warcraft</a> account(s). Keep track of what your characters are doing, where your items are stored, which dungeons you're locked to, your mounts/pets/toys, and... probably more stuff. A combination of in-game addons can accomplish most of this (<a href="http://www.curse.com/addons/wow/altoholic">Altoholic</a> and <a href="http://www.curse.com/addons/wow/saved_instances">SavedInstances</a>) - I found that solution annoying, especially if I was away from my desktop.</p>

            <div class="page-header">
              <h3>Sounds cool, now what?</h3>
            </div>
            <ol>
              <li>Head on over to the <a href="{% url 'login' %}">login page</a> and log in with Battle.net.</li>
              <li>Once you're logged in, click 'OAuth' on the top-of-page navigation bar to begin the process of linking a Battle.net account. This will allow WoWthing to retrieve a list of your characters and begin the process of retrieving API data.</li>
              <li>Install the <a href="https://gitlab.com/thing-engineering/wowthing/wowthing-collector/-/releases">WoWthing_Collector addon</a> - this gathers data that is not available via the Battle.net API (gold, inventory items, dungeon lockouts, etc).</li>
              <li>Load WoW!</li>
              <li>Log into each character you would like information to be available for, making sure to open your bank and void storage.</li>
              <li>Open the Toy Box at some point, it's another tab on the 'Collections' window - you can find a button for it (horse head) on your mini menu bar.</li>
              <li>Click 'Upload data' on the top-of-page navigation bar and follow the instructions.</li>
            </ol>

            <div class="page-header">
              <h3>That seems like a lot of effort :(</h3>
            </div>
            <p>It sure does! Luckily, I also can't be bothered doing that regularly so there is a solution: WoWthing Sync, a (very) simple Windows application to automatically upload the WoWthing_Collector.lua file whenever it changes.</p>
            <ol>
              <li>Download the latest release of <a href="https://gitlab.com/thing-engineering/wowthing/wowthing-sync/-/releases">WoWthing Sync</a>. You need the .NET 4 runtime thingy installed.</li>
              <li>Unzip it somewhere.</li>
              <li>Run WoWthing Sync.exe.</li>
              <li>Put your <strong>WoWthing username/password</strong> in the relevant boxes.</li>
              <li>Hit SELECT FOLDER, browse to your World of Warcraft folder - not anything below that.</li>
              <li>Hit START. Whenever you log out of a character it should automatically sync your data.</li>
            </ol>

            <div class="page-header">
              <h3>Is source code available?</h3>
            </div>
            <dl class="dl-horizontal">
              <dt>WoWthing</dt>
              <dd><a href="https://gitlab.com/thing-engineering/wowthing/wowthing">GitLab repository</a> - written in Python. This website!</dd>
              <dt>WoWthing Collector</dt>
              <dd><a href="https://gitlab.com/thing-engineering/wowthing/wowthing-collector">GitLab repository</a> - written in Lua. WoW addon to gather data unavailable via the Battle.net API.</dd>
              <dt>WoWthing Sync</dt>
              <dd><a href="https://gitlab.com/thing-engineering/wowthing/wowthing-sync">GitLab repository</a> - written in C#. Automates uploading of WoWthing_Collector data file(s).</dd>
              <dt>wowthing-backend</dt>
              <dd><a href="https://github.com/madcowfred/wowthing-backend">GitLab repository</a> - written in Go. Handles character/item/etc data retrieval from various APIs.</dd>
            </dl>
          </div>
        </div>
      </div>
{% endblock %}
