{% extends "base.html" %}

{% block title %}Leaderboards{% endblock %}

{% block extra_js %}<script type="text/javascript">WoWthing.leaderboards.onload();</script>{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h2 style="margin-top: 0;">Leaderboards</h2>
            <ul>
              <li>XP Total: total XP earned, DKs only count for 56 onwards.</li>
              <li>Honor Kills: total Honorable Kills.</li>
              <li>Achieves Total: total achievement points.</li>
              <li>Achieves Alliance: achievement points for neutral and Alliance achievements.</li>
              <li>Achieves Horde: achievement points for neutral and Horde achievements.</li>
              <li>Unique Mounts: number of unique mounts. NOTE: many mounts will count as 2 due to Alliance/Horde versions.</li>
              <li>Unique Pets: number of unique battle pets.</li>
              <li>Pet Score: a score for pets calculated the same way as <a href="http://www.warcraftpets.com/help/#petscore">Warcraft Pets</a>.</li>
              <li>Unique Toys: number of unique toys.</li>
            </ul>

  {% if user.is_authenticated and not user.profile.show_in_leaderboard %}
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Note:</strong> your account is currently set to NOT show your username in leaderboards - everyone else will see "?". To show
              your username, go to <a href="{% url 'home' username=user.username %}#settings">your settings page</a> and enable the "Show your account name in public leaderboards" option.
            </div>
  {% endif %}

            <table class="table table-condensed table-hover table-striped leaderboards-table">
              <colgroup span="2"></colgroup>{# #/username #}
              <colgroup></colgroup>{# XP #}
              <colgroup></colgroup>{# Exalted Reps #}
              <colgroup></colgroup>{# Honor Kills #}
              <colgroup span="4" class="colgroup-highlight"></colgroup>{# achievements #}
              <colgroup></colgroup>{# mounts #}
              <colgroup span="2"></colgroup>{# pets #}
              <colgroup></colgroup>{# toys #}
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th id="sort-xp-total" class="leaderboards-sortable js-sortable">XP Total</th>
                  <th id="sort-hk-total" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Honor Kills</th>
                  <th id="sort-reputation-exalted" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Exalted Reps</th>
                  <th id="sort-achievements-total" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Achieves Total</th>
                  <th id="sort-achievements-alliance" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Achieves Alliance</th>
                  <th id="sort-achievements-horde" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Achieves Horde</th>
                  <th id="sort-achievements-feat" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Feats of Strength</th>
                  <th id="sort-mounts-unique" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Unique Mounts</th>
                  <th id="sort-pets-unique" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Unique Pets</th>
                  <th id="sort-pets-score" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Pet<br>Score</th>
                  <th id="sort-toys-unique" class="leaderboards-sortable leaderboards-sortable-small js-sortable">Unique Toys</th>
                </tr>
              </thead>
              <tbody id="leaderboards-tbody">
              </tbody>
              <tfoot id="leaderboards-loading">
                <tr>
                  <td colspan="10">Loading data, please wait...</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
{% endblock %}
