{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'My Account' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{% trans 'My Account' %}</h2>
                <table class="table table-striped table-bordered my-account-table">
                    <tbody>
                        <tr>
                            <td>{% trans 'API Key' %}</td>
                            <td class="my-account-api-key">
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#api-key">{%  trans 'Toggle key' %}</button>
                                <span id="api-key" class="collapse">{{ api_key }}</span>
                                <form action="{% url 'regenerate_api_key' %}" method="POST" class="form-inline">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">{%  trans 'Regenerate key' %}</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
