{% extends "base.html" %}

{% block title %}Link Battle.net Account{% endblock %}

{% block extra_js %}<script type="text/javascript">$(WoWthing.oauth.onload());</script>{% endblock %}

{% block content %}
        <div class="container">
{% if messages %}
  {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}
          <div class="page-header no-top-margin">
            <h1>Link Battle.net Account</h1>
          </div>
          <p>This page is used to link a Battle.net account to your WoWthing account - this allows WoWthing to get a complete list of your characters, nothing more. The button at the bottom of the page will take you to the Battle.net site to begin the process. </p>
          <table class="table table-bordered oauth-table">
            <thead>
              <tr>
                <th class="oauth-account">Account ID</th>
                <th class="oauth-battletag">BattleTag</th>
                <th class="oauth-updated">Updated</th>
                <th class="oauth-expires">Expires</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
{% for account in accounts %}
              <tr>
                <td class="oauth-account">{{ account.account_id }}</td>
                <td class="oauth-battletag">{{ account.battletag }}</td>
                <td class="oauth-updated">{{ account.last_updated }}</td>
                <td class="oauth-expires">{{ account.token_expires|date:'Y-m-d H:i:s O' }}</td>
                <td class="oauth-stuff">
                  <a class="btn btn-danger" href="{% url 'oauth_delete' account.id %}">Delete account</a>
                </td>
              </tr>
{% empty %}
              <tr>
                <td colspan="5">You haven't added any accounts yet!</td>
              </tr>
{% endfor %}
            </tbody>
          </table>
          <select class="form-control" id="oauth-region">
{% for region, text in regions %}
            <option value="{{ region }}">{{ text }}</option>
{% endfor %}
          </select>
          <a class="btn btn-primary" href="{% url 'oauth_begin' %}" id="oauth-link">{{ _('Add Battle.net account') }}</a>
        </div>
{% endblock %}
