{% extends "base.html" %}

{% block title %}OAuth Delete{% endblock %}

{% block content %}
        <div class="container">
          <div class="page-header no-top-margin">
            <h1>OAuth Delete</h1>
          </div>
          <form>
            <input type="hidden" name="confirm" value="{{ confirm }}">
            <p>Are you sure you wish to delete Account #{{ account.id }} ({{ account.battletag }})?</p>
            <div class="checkbox">
              <label><input type="checkbox" name="delete_characters"> Delete all character data</label>
            </div>
            <button type="submit" class="btn btn-danger">Delete account</button>
            <a class="btn btn-success" href="{% url 'oauth' %}">Get me out of here!</a>
          </form>
        </div>
{% endblock %}
