{% extends "base.html" %}

{% load thing_tags %}

{% block title %}Search{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <form class="form-horizontal search-form">
{% for field in form %}
  {{ field|bshfield:2 }}
{% endfor %}
              <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>

{% if searched %}
            <table class="table table-condensed search-table">
              <tbody>
  {% for total, ci in items %}
                <tr>
                  <td class="search-character">{{ ci.character.name }}</td>
                  <td class="search-realm">{{ ci.character.realm.get_name }}</td>
                  <td class="search-location">{{ ci.get_location_display }}</td>
                  <td class="search-count">{{ total }}x</td>
                  <td class="search-item">
                    <a href="https://www.wowdb.com/items/{{ ci.item.id }}" class="quality{{ ci.item.quality }}"><img src="https://media.wowdb.com/icons/items/16/{{ ci.item.id }}.jpg" width="16" height="16">[{{ ci.item.name }}]</a>
                  </td>
                </tr>
  {% empty %}
                <tr>
                  <td colspan="5">No results found.</td>
                </tr>
  {% endfor %}
              </tbody>
            </table>
{% endif %}{# searched #}
          </div>
        </div>
      </div>
{% endblock %}
<img src="/static/img/18/{{ ci.item.icon }}.jpg" width="18" height="18">
