{% extends "base.html" %}

{% block title %}Upload data{% endblock %}

{% block extra_js %}
<script type="text/javascript">$(function() { $('#tzoffset').val(new Date().getTimezoneOffset()) });</script>
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="page-header no-top-margin">
        <h1>Upload data</h1>
    </div>

    <p>Upload the <code>WoWthing_Collector.lua</code> file from your
    <code>[Path to World of Warcraft]\_retail_\WTF\Account\[your account]\SavedVariables</code> folder.</p>

    <form method="POST" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <input type="hidden" name="tz_offset" value="" id="tzoffset">
        {% for field in form.lua_file %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {% if field.label %}
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {% endif %}
                {{ field|safe }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    {{ field.errors|safe }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
